body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.horizontal-menu button {
  background-color: #e76f51;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.horizontal-menu .active-button {
  background-color: #dae10f; 
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
